/* Estilos para o projeto */
.hidden-element {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show-element {
    opacity: 1;
    transform: translateY(0);
}
/* Cursor piscando para o efeito de máquina de escrever */
.cursor {
    display: inline-block;
    width: 3px;
    background-color: #3b82f6;
    margin-left: 2cqw;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
